<h1><a href = "http://apps.facebook.com/allsortsofbeer">Facebook</a></h1>
<div id ="wrapper">
  <%= link_to "Facebook auth", "/auth/facebook" %>
  <table>
    <% @products.each do|i|%>
        <tr>
          <td><%= i.name %></td>
          <td><%= i.brand.name %></td>
          <td><%= i.brand.category.name %></td>
        </tr>
    <% end %>
  </table>
</div>    